body{
  background-image: url("./image/fondo.jpg");
  background-attachment: fixed;
}

.Descripcion{
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap:20px;
  justify-items:center;
  align-items: center;
  margin: 20px 20px;
  padding-right:30px; 
}

.imgaenDescripcion{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 1s;
}
.imgaenDescripcion:hover{
  transform: scale(1.02);
}

.parrafoDescripcion{
  justify-content: flex-start;
  grid-column-start: 2;
  grid-column-end: 4;
}

.Biografia{
  color: white;
  display: grid;
  margin: 50px;
  padding: 30px;
  justify-content: center;
  align-items:center;
}

.contenedorDiplomas{
  display: flex;
  justify-content: center;

}
.diplomas{
  display: grid;
  grid-column-gap:30px;
  grid-row-gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
}
.imgdiploma{
  width: 250px;
  height: 220px;
  border-radius:20px;
  transition: 1s;
}
.imgdiploma:hover{
  transform: scale(1.2);
}


@media only screen and (max-width:1040px){
  .diplomas{
    display: grid;
    grid-column-gap:30px;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width:768px){
  .diplomas{
    display: grid;
    grid-column-gap:40px;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
  }
  .Biografia {
    grid-template-columns: auto;
    justify-items: center;
  }

.Descripcion{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
}
.imgaenDescripcion{
  grid-column-start: 1;
  grid-column-end: 4;
}
.parrafoDescripcion{
  grid-column-start: 1;
  grid-column-end: 4;
}
}

@media only screen and (max-width:530px){
  .diplomas{
    display: grid;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
  }
  .Biografia{
    margin-left: 10px;
    margin-right: 10px;
  }
  .Descripcion{
    margin-left: 30px;
    margin-right: 30px;
  }
}
