body{
  background-image: url("./image/fondo.jpg");
  background-attachment: fixed;
}
.media img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.media {
  margin-top: 60px;
  color: white;
}

.parrafos{
  color: white;
  margin: 60px 5% 20% 40px;
}
